  .card {
    background-color: wheat;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    overflow: hidden;
    padding: 16px;
    margin: 0 auto;
    margin-top: 10px;
  }

  .card-display{
    display: flex;
    gap: 120px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card-header {
    background-color: #007bff;
    color: #fff;
    padding: 16px;
    text-align: center;
  }
  
  .card-body {
    padding: 16px;
  }
  
  .form-group {
    margin-bottom: 12px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .form-group p {
    margin: 0;
    color: #333;
  }
  